body {
	position: relative;
	min-height: 100%;
}

body > header > section figure img {
	width: 100%; /* Ajusta este valor según tus necesidades */
	height: auto; /* Esto mantiene la proporción de la imagen */
}

body > header > section figure:nth-of-type(2) img {
	width: 20%; /* Ajusta este valor según tus necesidades */
	height: auto; /* Esto mantiene la proporción de la imagen */
}

h4,
h5,
h6 {
	display: none;
}
